<div data-data-id='{{{tray.id}}}'>

  <ol class='activity-ol'>

    <div class='activity-selection-text'>
      {{#if (eq activities.0.type 'spell')}}
        Select a Spell Slot:
      {{else}}
        Select an Activity
      {{/if}}
    </div>

    {{#each activities as |activity|}}
      <li>
        <div
          {{#if (eq activity.type 'spell')}}
            data-item-id='{{activity.itemId}}'
          {{else}}
            data-item-id='{{activity._id}}'
          {{/if}}
          data-index='{{@index}}'
          data-type='{{activity.type}}'
          data-selectedSpellLevel='{{activity.actorSpellData.level}}'
          data-tooltip-direction='UP'
          data-action='useActivity'
          data-tooltip="{{> 'AAT.item-tooltip' activity.tooltip}}"
        
          {{#if (eq activity.actorSpellData.value 0)}}
            class='ability-button activity-button-inactive'
          {{else}}
 
            class='ability-button activity-button'
          {{/if}}
        >
          <img
            src='{{activity.img}}'
            alt='{{activity.name}}'
            data-item-id='{{activity._id}}'
            data-index='{{@index}}'
          />

          <div class='spell-item-container-text'>
            {{getRomanNumeral activity.actorSpellData.level}}
          </div>
        </div>

        <div class="activity-slot-icon-container">
          {{#if (eq activity.type 'spell')}}
            {{#if (eq activity.actorSpellData.value 0)}}
              <i class="fa-solid fa-square icon-slot icon-slot-spent"></i>
            {{else}}
              <i class="fa-solid fa-square icon-slot icon-slot"></i>
            {{/if}}
          {{/if}}
        </div>
      </li>
    {{/each}}

  </ol>

  {{#if (eq activities.0.type 'spell')}}
    <div class="use-slot-text-container">
      Use Slot:
      <input
        id='useSlot'
        name='useSlot'
        type='checkbox'
        class='use-slot-checkbox'
        checked='true'
        data-action='useSlot'
      />
    </div>
  {{/if}}

</div>
