<div data-data-id='{{{tray.id}}}'>

  <ol class='activity-ol'>

    <div class='activity-selection-text'>

        Select an Activity

    </div>

    {{#each activities as |activity|}}
      <li>
        <div
          data-item-id='{{activity.id}}'
          data-index='{{@index}}'
          data-type='{{activity.type}}'
          data-selectedSpellLevel='{{activity.actorSpellData.level}}'
          data-tooltip-direction='UP'
          data-action='useActivity'
          data-tooltip="{{> 'AAT.item-tooltip' activity.tooltip}}"
          class='ability-button activity-button'

        >
          <img
            src='{{activity.img}}'
            alt='{{activity.name}}'
            data-item-id='{{activity._id}}'
            data-index='{{@index}}'
          />

          <div class='spell-item-container-text'>
            {{getRomanNumeral activity.actorSpellData.level}}
          </div>
        </div>


      </li>
    {{/each}}

  </ol>



</div>
