<div class='hp-container'>
  

    <div class='hp-form'>

      <input
        id='hpinput'
        name='hpinputText'
        type='text'
        class=
        {{#if hpTextActive}}'hpinput'
        {{else}}'hpinput hidden-disabled '
        {{/if}}
        placeholder='{{actor.system.attributes.hp.value}}'
   
      />
    </div>

  <div class='hp-text' data-action='toggleHpText'>
    {{#if actor.system.attributes.hp}}

      {{actor.system.attributes.hp.value}}
      /
      {{actor.system.attributes.hp.max}}
    {{/if}}
    {{#if actor.system.attributes.hp.tempmax includeZero=false}}
      +
      {{actor.system.attributes.hp.tempmax}}
    {{/if}}

  </div>

  {{#if actor.system.attributes.hp.temp}}
    <div class='temp-hp-text'>+{{actor.system.attributes.hp.temp}} </div>
  {{/if}}
</div>