
{{#each customTrays as |tray|}}
{{log tray}}
{{log @root}}
<div
  class=
  {{#if tray.active}} 
  {{#if (eq @root.currentTray.id tray.id)}}'custom-tray-active' {{/if}}
  {{else}}
  'custom-tray-button'
  {{/if}}
  data-id={{tray.id}}
  data-action='setTray'
  data-type='custom'
>{{capitalize tray.id}}</div>
{{/each}}