
{{#if trayInformation}}
<div class="tray-information">{{trayInformation}} <i class="fa-solid fa-circle-x icon-cancel" data-action="cancelSelection"></i></div>
{{else}}


{{#each customTrays as |tray|}}
<div
  class=
  {{#if (eq @root.currentTray.id tray.id)}} 'custom-tray-active' 
    {{else}}
  'custom-tray-button'
  {{/if}}
  data-id={{tray.id}}
  data-action='setTray'
  data-type='custom'
>{{capitalize tray.id}}</div>
{{/each}}
{{/if}}