{{#if itemSelectorEnabled}}
  <div
    class='transparent-box ability-selection-input'
    style='position: absolute; '
    data-drag='true'
    data-index='abilitySelection'
  ></div>
{{/if}}
{{#if equipmentTray.meleeWeapon}}
  <img
    data-item-id='{{equipmentTray.meleeWeapon._id}}'
    data-drag='true'
    data-action='useItem'
    data-index='meleeWeapon'
    src='{{equipmentTray.meleeWeapon.img}}'
    alt='{{equipmentTray.meleeWeapon.name}}'
  />
{{else}}
  <div class='transparent-box' data-drag='true' data-index='meleeWeapon'></div>
{{/if}}
{{#if equipmentTray.rangedWeapon}}
  <img
    class='item-button'
    data-drag='true'
    data-item-id='{{equipmentTray.rangedWeapon._id}}'
    data-action='useItem'
    data-index='rangedWeapon'
    src='{{equipmentTray.rangedWeapon.img}}'
    alt='{{equipmentTray.rangedWeapon.name}}'
  />
{{else}}
  <div class='transparent-box' data-drag='true' data-index='rangedWeapon'></div>
{{/if}}