<img
  src='{{item.img}}'
  alt='{{item.name}}'
  data-item-id='{{item.id}}'
  data-index='{{@index}}'
  class='{{getItemActive item.name @root.activeEffects}}'
/>

{{#if (eq item.uses '')}}
  <div class='spell-item-container-text'>
    {{getRomanNumeral item.actor.system.spells.pact.level}}
  </div>
{{else}}
  <div class='consumable-count'>
    {{item.uses}}
  </div>
{{/if}}