<div class='tooltip-container'>

  <div class='tooltip-header'>
    <h2>{{name}}</h2>
    <p class='tooltip-subtitle'>{{capitalize type}}</p>

  </div>

  <div class='tooltip-damage'>
    <h3>{{damageLabel}}</h3>

    <div class='damage-type'>
      {{diceLabel}}
    </div>

  </div>

  <div class='tooltip-description'>
    {{description}}
  </div>

  <div class='tooltip-footer'>

    <span class='action-tag'>

      {{#if (eq @root.currentTray.category 'ritual')}}
        {{ritualActivationTimeLabel}}
      {{else}}
        {{activationTimeLabel}}
      {{/if}}
    </span>

    <span class='tooltip-info'>
      {{rangeLabel}}
      <span>
        {{saveLabel}}
      </span>
    </span>
  </div>

  <div class='tooltip-upper-icon'>
    {{concentrationLabel}}
  </div>
</div>