<div class='spell-item-container'>
  {{#if (eq item.preparationMode 'pact')}}
    {{> AAT.item-spell-pact item=item index=@index tray=tray}}
  {{else}}
  
    {{#if (eq tray.id 'ritual')}}
      <img 
        src='{{item.img}}' 
        alt='{{item.name}}' 
        data-item-id='{{item.id}}' 
        data-index='{{@index}}' 
        data-trayid='{{tray.id}}' 
      />
    {{else}}
      {{#if (eq tray.type 'static')}}

        {{#if (eq item.spellLevel tray.spellLevel)}}
          <img 
            src='{{item.img}}' 
            alt='{{item.name}}' 
            data-item-id='{{item.id}}' 
            data-index='{{@index}}' 
            data-trayid='{{tray.id}}' 
          />
        {{else}}
          <img 
            src='{{item.img}}' 
            alt='{{item.name}}' 
            data-item-id='{{item.id}}' 
            data-index='{{@index}}' 
            data-trayid='{{tray.id}}' 
            class='spell-item-container-img-upcast' 
          />
          <div class='spell-item-container-text-upcast'>+</div>
        {{/if}}
      {{else}}
        <img 
          src='{{item.img}}' 
          alt='{{item.name}}' 
          data-item-id='{{item._id}}' 
          data-index='{{@index}}' 
          data-trayid='{{tray.id}}' 
        />
      {{/if}}
    {{/if}}
  
    {{#if (eq item.uses '')}}
      <div class='spell-item-container-text'>
        {{getRomanNumeral item.spellLevel}}
      </div>
    {{else}}
      <div class='consumable-count'>
            </div>
    {{/if}}
  {{/if}}
</div>
