<li {{#if tray.multiattackIndexGroups}} class={{multiGroup tray @index}} {{/if}}>

  {{#if item}}
    <div 
      data-drag='true' 
      data-item-id='{{item.id}}'
      data-index='{{@index}}' 
      data-trayid='{{tray.id}}' 
      data-tooltip="{{> 'AAT.item-tooltip' (selectItemTooltip item tray)}}"
      data-tooltip-direction='UP' 
      {{#if (eq isActive false)}} 
        data-action='viewItem' 
        class='ability-button ability-button-passive' 
      {{else}} 
        data-action='useItem' 
        class='ability-button' 
      {{/if}}>
      {{#if (eq isActive false)}}
        <div class='transparent-box-passive' data-index='{{@index}}'>
          <img src='{{item.img}}' alt='{{item.name}}' data-item-id='{{item.id}}' data-trayid='{{tray.id}}'
            data-index='{{@index}}' />
        </div>
      {{else}}
        {{#if (eq item.type 'spell')}}
          {{> AAT.item-spell item=item index=@index tray=tray}}
        {{else}}
          <img 
            class='{{item.rarity}}-item' 
            src='{{item.img}}' 
            alt='{{item.name}}' 
            data-item-id='{{item._id}}'
            data-trayid='{{tray.id}}' 
            data-index='{{@index}}' />
        {{/if}}
      {{/if}}
     
        <div class='consumable-count'>
           {{item.uses}}
        </div>


    </div>
  {{else}}
    <div class='transparent-box' data-index='{{@index}}' data-trayid='{{tray.id}}'></div>
  {{/if}}

</li>
