<img src='{{item.img}}' alt='{{item.name}}' data-item-id='{{item._id}}' data-index='{{@index}}' />

{{#if (eq item.system.uses.max '')}}
  <div class='spell-item-container-text'>
    {{getRomanNumeral item.actor.system.spells.pact.level}}
  </div>
{{else}}
  <div class='consumable-count'>
    {{item.system.uses.value}}
    /
    {{item.system.uses.max}}
  </div>
{{/if}}