{{#each skillTray.currentSkills as |skill|}}
  <div

    class="
    {{#if (eq skill.type 'save')}}
    small-button-save
    {{else}}
    small-button-skill
    {{/if}}"
    data-skill='{{skill.abbreviation}}'
    data-type='{{skill.type}}'
    data-action='useSkillSave'
  >

    {{{skill.icon}}}&nbsp;{{capitalize skill.abbreviation}}
  </div>
{{/each}}