<div class='skill-container'>

  {{log skillTray.currentSkills}}
  {{#each skillTray.currentSkills as |skill|}}
    <div
      class='skill-button'
      data-skill='{{skill.abbreviation}}'
      data-type='{{skill.type}}'
      data-action='useSkillSave'
    >

      {{{skill.icon}}}-
      {{skill.abbreviation}}
    </div>
  {{/each}}
</div>