{{#each staticTrays as |tray|}}

<div class='static-spell-level-container'>
  <div class='static-tray-button
  {{#if (eq @root.currentTray.id tray.id)}}
   static-tray-active
  {{/if}}
  {{#if (eq tray.availableSlots 0)}}
  static-tray-no-slots
  {{/if}}
  '

   data-id='{{this.id}}' data-action='setTray'
    data-index={{@index}} data-type='static'>{{{getIcon tray}}}
  </div>
  <div class='static-spell-level '>{{@root.spellLevel}}</div>
  {{#if (eq tray.category 'customStaticTray')}}
  <div class='static-item-uses'>{{tray.keyItemUses}}</div>
  {{/if}}
  
</div>
{{/each}}